<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> </a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Book Binding Info</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="body">
              <form class="m-4" [formGroup]="BookBindingInfoForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div *ngIf="role == userRole.SuperAdmin" class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Library Name </mat-label>
                      <mat-select formControlName="baseSchoolNameId" required >
                        <mat-option  value="0">--Select--</mat-option >
                        <mat-option  *ngFor="let dropdown of departmentName" [value]="dropdown.value">
                          {{dropdown.text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Accession No </mat-label>                        
                        <input formControlName="accessionNo" required matInput type="text" [matAutocomplete]="auto1" />
                        <mat-autocomplete #auto1="matAutocomplete" >
                          <mat-option  *ngFor="let item of filteredOptions" [value]="item" (onSelectionChange)="onAccessionNoSelectionChanged(item)">
                            {{item.text}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="BookBindingInfoForm.get('accessionNo').hasError('required')">
                          Accession No  is Required!
                        </mat-error>
                    </mat-form-field>
                    <h5 *ngIf="countOnlineRequest > 0" style="color: red; font-weight: bold;" class="b-t-8">Online Request : <span>{{countOnlineRequest}}</span> </h5>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <h5 class="b-t-8">Book Title(English) : <span class="c-color">{{bookTitleEnglish}}</span> </h5>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <h5 class="b-t-8">Book Title(Bangla) : <span class="c-color">{{bookTitleBangla}}</span> </h5>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label> Date</mat-label>
                        <input matInput [matDatepicker]="dpicker" formControlName="date" required>
                        <mat-datepicker-toggle matSuffix [for]="dpicker"></mat-datepicker-toggle>
                       <mat-datepicker #dpicker></mat-datepicker> 
                       <mat-error *ngIf="BookBindingInfoForm.get('date').hasError('required')">
                        Date  is Required!
                      </mat-error>                                           
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label> Press Name</mat-label>
                      <input matInput formControlName="pressName" required>
                      <mat-error *ngIf="BookBindingInfoForm.get('pressName').hasError('required')">
                        Press Name  is Required!
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label> Press Number</mat-label>
                      <input matInput formControlName="pressNumber">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label> Press Address</mat-label>
                      <input matInput formControlName="pressAddress">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label> Press Email</mat-label>
                      <input matInput formControlName="pressEmail">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label> Sender Officer</mat-label>
                      <input matInput formControlName="senderOfficer" required>
                      <mat-error *ngIf="BookBindingInfoForm.get('senderOfficer').hasError('required')">
                        Sender Officer  is Required!
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label> Office Dispise Number</mat-label>
                      <input matInput formControlName="officeDispiseNumber">
                    </mat-form-field>
                  </div>
                  
                  
                </div>
            
            
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [disabled]="!BookBindingInfoForm.valid " mat-raised-button
                      color="primary">{{buttonText}}</button>
                    <button type="button" mat-button routerLink="/book-management/bookbindinginfo-list">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
