<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> </a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Library Authority</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="body">
              <form class="m-4" [formGroup]="LibraryAuthorityForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <!-- <div *ngIf="role == userRole.SuperAdmin" class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Library Name </mat-label>
                      <mat-select formControlName="baseSchoolNameId" required >
                        <mat-option  value="0">--Select--</mat-option >
                        <mat-option  *ngFor="let dropdown of departmentName" [value]="dropdown.value">
                          {{dropdown.text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> -->
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label> Library Authority</mat-label>
                      <input matInput formControlName="name" required>
                      <mat-error *ngIf="LibraryAuthorityForm.get('name').hasError('required')">
                        Library Authority is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Menu Position</mat-label>
                      <input matInput formControlName="menuPosition">
                    </mat-form-field>
                  </div>
                   <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Sub-Title</mat-label>
                      <input matInput formControlName="bookSubtitle">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Remarks</mat-label>
                      <input matInput formControlName="remarks">
                    </mat-form-field>
                  </div> -->
                </div>
            
            
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [disabled]="!LibraryAuthorityForm.valid " mat-raised-button
                      color="primary">{{buttonText}}</button>
                    <!-- <button type="button" mat-button routerLink="/basic-setup/add-booktitleinfo">Cancel</button> -->
                  </div>
                </div>
              </form>
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <ul class="header-buttons-left ml-0">
                      
                      <li class="dropdown">
                        <input placeholder="Search" type="text" [(ngModel)]="searchText"  #filter class="browser-default search-field"
                          aria-label="Search box">
                      </li>
                      <li>
                        <div class="icon-button-demo m-l-10">
                          <button mat-mini-fab (click)="applyFilter(searchText)" color="accent">
                            <mat-icon class="col-white">search</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <ul class="header-buttons-left ml-0">
                      <li><h3 class="text-center table-title"> Library Authority</h3></li>
                    </ul>
                  </div>
                </div>
              </div>
              
                <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                  <ng-container matColumnDef="sl">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ser. </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                  </ng-container> 
                  <ng-container class="bk-t" matColumnDef="name">
                    <mat-header-cell class="bk-t" *matHeaderCellDef mat-sort-header> Library Authority</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                  </ng-container>        
                  
                  <ng-container matColumnDef="menuPosition">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Menu Position </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.menuPosition}} </mat-cell>
                  </ng-container>        
                  <!-- <ng-container matColumnDef="bookSubtitle">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sub Title </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.bookSubtitle}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="remarks">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.remarks}} </mat-cell>
                  </ng-container> -->
                  
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="pr-0">Actions</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                      <button mat-icon-button color="accent" class="btn-tbl-edit" 
                      [routerLink]="['/basic-setup/update-libraryauthority', row.libraryAuthorityId]">
                        <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                      </button>
                      <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                        (click)="deleteItem(row)">
                        <mat-icon aria-label="Delete" class="col-white">delete</mat-icon> 
                      </button>
                    </mat-cell>
                  </ng-container>
                
                  
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator [length]="paging.length" [showFirstLastButtons]="masterData.paging.showFirstLastButtons"
                [pageSize]="paging.pageSize" [pageSizeOptions]="masterData.paging.pageSizeOptions"
                (page)="pageChanged($event)">
                </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
