<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Imprint</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> </a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a routerLink="/biodata-tab/biodata-general-Info-list">
                   Book Info</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="body">
              
                <nav mat-tab-nav-bar class="mat-tab-header">
                    <a mat-tab-link class="mat-tab-link"
                    *ngFor="let link of navLinks"
                    [routerLink]="[link.link, id]"
                    routerLinkActive #rla="routerLinkActive"
                    [active]="rla.isActive">
                        {{link.label}}
                    </a>
                </nav>
             
               
                <router-outlet></router-outlet>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  