<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Book Information</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> </a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Book Information</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">
                <div class="materialTableHeader">
                  <div class="row">
                    <div class="col-3">
                      <ul class="header-buttons-left ml-0">
                        
  
                        <li class="dropdown">
                          <input placeholder="Search" type="text" [(ngModel)]="searchText"  #filter class="browser-default search-field"
                          aria-label="Search box">
                        </li>
                        <!-- <li> 
                          <div class="icon-button-demo m-l-10">
                            <button mat-mini-fab color="accent" (click)="applyFilter(searchText)">
                              <mat-icon class="col-white">search</mat-icon>
                            </button>
                          </div>
                        </li> -->
                      </ul>
                    </div>
                    <div class="col-3">
                      <ul class="header-buttons-left ml-0">
                        <li *ngIf="role != userRole.Admin" class="dropdown">
                          <!-- <input placeholder="Search" type="text" [(ngModel)]="searchText"  #filter class="browser-default search-field"
                          aria-label="Search box"> -->
                          <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Library Name </mat-label>
                            <mat-select [(ngModel)]="deptId"  >
                              <mat-option  value="0">--Select--</mat-option >
                              <mat-option  *ngFor="let dropdown of departmentName" [value]="dropdown.value">
                                {{dropdown.text}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </li>
  
                        <li class="dropdown">
                          <!-- <input placeholder="Search" type="text" [(ngModel)]="searchText"  #filter class="browser-default search-field"
                          aria-label="Search box"> -->
                          <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Book Category</mat-label>                        
                            <mat-select [(ngModel)]="bookCatId"  >
                              <mat-option  value="0">--Select--</mat-option >
                                <mat-option *ngFor="let dropdown of selectedBookCategory" [value]="dropdown.value">
                                    {{dropdown.text}} 
                                  </mat-option>                          
                            </mat-select>
                            <!-- <mat-error *ngIf="BookInformationForm.get('bookCategoryId').hasError('required')">
                              Category  is Required!
                            </mat-error> --> 
                          </mat-form-field>
                        </li>
                        <li> 
                          <div class="icon-button-demo m-l-10">
                            <button mat-mini-fab color="accent" (click)="applyFilter(searchText,deptId,bookCatId)">
                              <mat-icon class="col-white">search</mat-icon>
                            </button>
                          </div>
                        </li>
                      </ul>
                      
                    </div>
                    <div class="col-3">
                      <ul class="header-buttons">
                        <li *ngIf="role == userRole.SuperAdmin">
                        <div class="icon-button-demo">
                          <button class="btn-space"  mat-raised-button
                          color="warn" [routerLink]="['/admin/dashboard/main']"> 
                          <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                          </button>
                         
                        </div>
                      </li>
                      <!-- <li *ngIf="role == userRole.Member">
                        <div class="icon-button-demo">
                          <button class="btn-space"  mat-raised-button
                          color="warn" [routerLink]="['/admin/dashboard/memberdashboard']"> 
                          <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                          </button>
                        </div>
                      </li> -->
                        <li>
                          <button class="btn-space" mat-raised-button color="primary" (click)="printSingle()">
                            <mat-icon class="col-white">print</mat-icon>
                          </button>  
                          <button  class="btn-space"  mat-raised-button color="warn" (click)="backClicked()"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                          </button> 
                          <!-- <button *ngIf="this.role == userRole.Admin" class="btn-space"  mat-raised-button
                          color="warn" [routerLink]="['/admin/dashboard/main']"> 
                          <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                        </button>      -->
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div id="print-routine">
                  <table class="table tbl-by-group db-li-s-in db-book-info">
                    <thead>
                      <tr>
                        <th class="cl-nm-rnk">
                          <h5>Ser: </h5>
                        </th>
                        <th class="cl-partno-ac"><h5>Accession No</h5></th>
                        <th class="cl-bookname"><h5>Book Title</h5></th>
                        <th class="cl-itemname"><h5>Main Class</h5></th>
                        <th class="cl-itemname"><h5>Author Name</h5></th>
                        <th class="cl-itemname"><h5>Publisher</h5></th>
                        <!-- <th class="cl-itemname"><h5>Row Name</h5></th>
                        <th class="cl-itemname"><h5>Shelf Name</h5></th> -->
                        <!-- <th class="cl-trade"><h5>Image</h5></th> -->
                        <th class="cl-itemnames"><h5>Status</h5></th>    
                        <th class="cl-itemname-img"><h5></h5></th>        
                        <th class="cl-mrk-rmrk-act-d"><h5>Actions</h5></th>                     
  
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let number of this.bookInformationListSearch let i = index">
                          <td>{{i+1}}</td>
                          <td class="ac-no">{{ number.mergeId }}</td>
                          <td class="cl-bookname">{{ number.bookTitleName }} {{ number.titleBangla }}</td>
                          <td>{{ number.mainClass }}</td>
                          <td>{{ number.authorName }}</td>
                          <td>{{ number.publishersName }}</td>
                          <!-- <td>{{ number.rowName }}</td>
                          <td>{{ number.shelfName }}</td> -->
                          <!-- <td class="cl-trade">
                            <img  [src]="this.fileUrl+number.coverImage"/>
                          </td> -->
                          <td class="cl-itemnames">
                            <div *ngIf="number.issueStatus === 0">
                              <span class="att-completed">Available</span>
                            </div>
                            <div *ngIf="number.issueStatus === 1">
                              <span class="att-due clickable" (click)="getUserInfoPopup(number.bookInformationId)">Issued</span>
                            </div>
                          </td>
                          <td class="table-img  img-on-hover">
                            <img  [src]="this.fileUrl+number.coverImage"/>
                            <div class="pop-on-hover">
                              <img  [src]="this.fileUrl+number.coverImage"/>
                            </div>
                          </td>
                          <!-- <td>
                             <button mat-icon-button title="Book Request" color="accent" class="btn-tbl-edit"
                             (click)="onlineBookRequest(number.bookInformationId,number)">
                              <mat-icon> exit_to_app</mat-icon>
                            </button>
                          </td> -->
                          <td class="cl-mrk-rmrk-act-d">
                            <div fxLayout="row" fxLayoutGap="20px">
                              <!-- <img  [src]="this.fileUrl+number.coverImage"/> -->
                            
                              <!-- <button mat-icon-button color="accent" class="btn-tbl-edit"
                              [routerLink]="['/book-management/book-management-tab/view-bookinformation',  number.bookInformationId]"> -->
                              <!-- <mat-icon>
                                <i class="fa fa-barcode" style="font-size:18px"></i>
                              </mat-icon> -->
                            <!-- </button> -->
                            <!-- <i class="fa fa-barcode" style="font-size:48px;color:black"></i> -->
                            <!-- <button  title="Barcode"   (click)="getPopup(number.itemStorId)"> -->
                              <!-- <i class="fa fa-ticket" style="font-size:48px;color:red"></i> -->
                            <!-- </button>  -->
                            <button  title="Online Book Request" mat-icon-button color="accent"   class="btn-tbl-delete btndelete" [routerLink]="['/admin/dashboard/onlinebookrequest-list',  number.bookInformationId]" >
                              <!-- <mat-icon aria-label="Delete" class="col-white view"> exit_to_app</mat-icon>     -->
                              <mat-icon class="col-white view">add_shopping_cart</mat-icon>                        
                            </button> 
                            <button  title="Barcode"   class="btn-space custom barcode" (click)="getBarcodePopup(number.mergeId)">
                              <!-- <i class="fa fa-barcode"></i>     -->
                              <i class="fa fa-qrcode" style="color:black"></i>                          
                            </button> 
                            <!-- <button  title="Online Book Request List"   class="btn-space custom barcode" [routerLink]="['/admin/dashboard/onlinebookrequest-list',  number.bookInformationId]" >
                              <i class="fa fa-barcode"></i>
                              
                            </button>  -->
                            <!-- <button *ngIf="branchId == 1" title="Barcode"   class="btn-space custom barcode" (click)="getBarcodePopup(number.mergeId)">
                              <i class="fa fa-barcode"></i>                             
                            </button>  -->
                            <!-- <td class="cl-trade"> -->
                            
                            <!-- </td> -->
                            <!-- <button mat-icon-button title="Book Request" color="accent" class="btn-tbl-edit btnbookrequest"
                            (click)="onlineBookRequest(number.bookInformationId,number)">
                             <mat-icon> exit_to_app</mat-icon>
                           </button> -->
                            
                       <button title="Book Information Details" mat-icon-button color="accent" class="btn-tbl-edit btnview"
                        [routerLink]="['/book-management/book-management-tab/view-bookinformation',  number.bookInformationId]">
                        <mat-icon aria-label="Edit" class="col-white view">visibility</mat-icon>
                      </button>
                      <button  *ngIf="branchId == 1" title="Book Info Details" mat-icon-button color="accent" class="btn-tbl-edit update-trainee btnbio"
                      [routerLink]="['/book-management/book-management-tab/main-tab-layout/', number.bookInformationId]">
                        <mat-icon aria-label="Edit" class="col-white view">find_replace</mat-icon>
                      </button>
                        <!-- <button title="edit" mat-icon-button color="accent" class="btn-tbl-edit btnedit"
                        [routerLink]="['/book-management/book-management-tab/update-bookinformation', number.bookInformationId]">
                          <mat-icon aria-label="Edit" class="col-white view">edit</mat-icon>
                        </button>
                        <button title="delete" mat-icon-button color="accent" class="btn-tbl-delete btndelete" (click)="$event.stopPropagation()"
                          (click)="deleteItem(number)">
                          <mat-icon aria-label="Delete" class="col-white view">delete</mat-icon> 
                        </button> -->
                            </div>
                          </td>
                        </tr>
                      <!-- </ng-container> -->
                    </tbody>
                  </table>
                  <mat-paginator [length]="paging.length" [showFirstLastButtons]="masterData.paging.showFirstLastButtons"
                  [pageSize]="paging.pageSize" [pageSizeOptions]="masterData.paging.pageSizeOptions"
                  (page)="pageChanged($event)">
                  </mat-paginator>
           

                </div>

                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="overlay" *ngIf="message">
    <div class="popup">
      <h1 class="warning message">Warning!</h1> 
      <a class="close" (click)="message = false">&times;</a>
      <div class="content">
        <div id="print-barcode">
          <h2 class="content-message">You already request this book</h2>
          <!-- <ngx-barcode class="print-barcode-design" [bc-value]="this.barcodeId" [bc-display-value]="false" ></ngx-barcode> -->
        </div>
        <!-- <button class="btn-space" mat-raised-button color="primary" (click)="printBarcodeSingle()" >
          <mat-icon class="col-white">print</mat-icon>
        </button> -->
      </div>
    </div>
  </div>
  
  <div class="overlay" *ngIf="barcodePopup">
    <div class="popup">
      <h2>Barcode</h2> 
      <a class="close" (click)="barcodePopup = false">&times;</a>
      <div class="content">
        <div id="print-barcode">
          <ngx-barcode class="print-barcode-design" [bc-value]="this.barcodeId" [bc-display-value]="false" ></ngx-barcode>
        </div>
        <button class="btn-space" mat-raised-button color="primary" (click)="printBarcodeSingle()" >
          <mat-icon class="col-white">print</mat-icon>
        </button>
      </div>
    </div>
  </div>
  
  
  <div class="overlay" *ngIf="userInfoPopup">
    <div class="popup member-info">
      <h2>Member Information</h2> 
      <a class="close" (click)="userInfoPopup = false">&times;</a>
      <div class="content">
        <div class="responsive_table">
          <table class="table tbl-by-group db-li-s-in db-book-info">
            <thead>
              <tr>
                <th class="cl-member"><h5>PNo & Name</h5></th>
                <th class="cl-partno"><h5>Issued Date</h5></th>
                <th class="cl-itemname"><h5>Return Date</h5></th>              
                <th class="cl-itemname"><h5>Contact No</h5></th>              
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let number of this.issuedUserInfo let i = index">
                  <td class="cl-member">{{number.pno}} - {{number.memberName}}</td>
                  <td class="ac-no">{{ number.issueDate | date:'dd/MMM/yyyy' }}</td>
                  <td>{{ number.returnDate | date:'dd/MMM/yyyy'}}</td>
                  <td>{{ number.mobileNoPersonal }}</td>
                </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
  
  
  
   
