<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> </a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Damage Information</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="body">
              <form class="m-4" [formGroup]="DamageInformationForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div *ngIf="role == userRole.SuperAdmin" class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Library Name </mat-label>
                      <mat-select formControlName="baseSchoolNameId" required >
                        <mat-option  value="0">--Select--</mat-option >
                        <mat-option  *ngFor="let dropdown of departmentName" [value]="dropdown.value">
                          {{dropdown.text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Accession No </mat-label>                        
                        <input formControlName="accessionNo" required matInput type="text" [matAutocomplete]="auto1" />
                        <mat-autocomplete #auto1="matAutocomplete" >
                          <mat-option  *ngFor="let item of filteredOptions" [value]="item" (onSelectionChange)="onAccessionNoSelectionChanged(item)">
                            {{item.text}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="DamageInformationForm.get('accessionNo').hasError('required')">
                          Accession No  is Required!
                        </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <h5 class="b-t-8">Book Title(English) : <span class="c-color">{{bookTitleEnglish}}</span> </h5>
                  </div>
                  
                  
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label> Damage By</mat-label>
                      <input matInput formControlName="damageBy">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label> Remarks</mat-label>
                      <input matInput formControlName="remarks">
                    </mat-form-field>
                  </div>
                  
                </div>
            
            
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [disabled]="!DamageInformationForm.valid " mat-raised-button
                      color="primary">{{buttonText}}</button>
                    <button type="button" mat-button routerLink="/book-management/damageinformationbylibrary-list">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
